@import 'styles';

.scroll-to-top {
  position: fixed;
  bottom: 80px;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.btn-scroll {
  background-color: none !important;
  border: none;
  outline: none;
  display: inline-block;
  width :6rem;

  svg {
    @include svg($svg-filter-theme, 5rem);
  }
  z-index: $z-index-xlg-next;
}
