<div class="container">
  <div *ngIf="spinnerState$ | async" class="loading">
    <span class="spinner"></span>
    <span>Please wait...</span>
  </div>

  <app-nav-bar (click)="playMusic()" class="navigation"></app-nav-bar>
  <main>
    <router-outlet></router-outlet>
    <audio id="audio" class="player" controls>
      <source [src]="randomSong" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </main>

  <app-footer></app-footer>
</div>

<app-scroll-to-top></app-scroll-to-top>
