<div class="admin">
  <!-- Side Navigation -->
  <div class="side-nav">
    <ul class="side-nav__list">
      <li routerLink="aradhana" routerLinkActive="router-active" class="side-nav__item pd-md">
        <svg>
          <use xlink:href="assets/svg/sprite.svg#icon-address-book"></use>
        </svg>
        <a class="side-nav__link">Aradhana</a>
      </li>
      <li routerLink="contact" routerLinkActive="router-active" class="side-nav__item pd-md">
        <svg>
          <use xlink:href="assets/svg/sprite.svg#icon-book"></use>
        </svg>
        <a class="side-nav__link">Contacts</a>
      </li>
      <li routerLink="latest-events" routerLinkActive="router-active" class="side-nav__item pd-md">
        <svg>
          <use xlink:href="assets/svg/sprite.svg#icon-cloud-upload"></use>
        </svg>
        <a class="side-nav__link">Latest events</a>
      </li>

      <li routerLink="clarification" routerLinkActive="router-active" class="side-nav__item pd-md">
        <svg>
          <use xlink:href="assets/svg/sprite.svg#icon-question"></use>
        </svg>
        <a class="side-nav__link">User Clarfication</a>
      </li>

      <li routerLink="upload-photo" routerLinkActive="router-active" class="side-nav__item pd-md">
        <svg>
          <use xlink:href="assets/svg/sprite.svg#icon-user"></use>
        </svg>
        <a class="side-nav__link">Upload Photo</a>
      </li>
    </ul>
  </div>

  <!-- Main Container for the Aradhana List or Contact List component -->
  <main class="profile-container">
    <router-outlet></router-outlet>
  </main>
</div>
